@import "tailwindcss";

.ui-tabs-active {
    @apply bg-[#05C0F4] text-white
}

@media (min-width: 1024px) {
    .swiper:not(.daySlider) .swiper-slide:not(.swiper-slide-active) {
      transform: scale(0.85);
      opacity: 0.8;
      z-index: 0;
      transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .swiper:not(.daySlider) .swiper-slide.swiper-slide-active {
      transform: scale(1);
      opacity: 1;
      z-index: 10;
      transition: transform 0.4s ease, opacity 0.4s ease;
    }
}

.dayPagination > .swiper-pagination-bullet-active {
  background: #20A9FF;
  width: 35px;
  border-radius: 4px;
}

.historyMobilePagination > .swiper-pagination-bullet-active {
  background: #1D1D1F;
  height: 3px;
  border-radius: 999px;
}

.swiper-pagination-horizontal.historyMobilePagination > .swiper-pagination-bullet {
  background: #1D1D1F;
  height: 3px;
  border-radius: 999px;
  margin: 0;
  flex: 1;
}

.historyDesktopPagination {
  @apply flex gap-[3px] w-full;
}

.history-desktop-pagination-item {
  @apply flex flex-1 flex-col items-center gap-4 border-0 bg-transparent p-0 cursor-pointer;
}

.history-desktop-pagination-year {
  @apply text-[10px] leading-[16px] text-[#C7C7CC] transition-all duration-300;
}

.history-desktop-pagination-line {
  @apply w-full h-[2px] rounded-full bg-[#E5E5E5] transition-all duration-300;
}

.history-desktop-pagination-item.is-active .history-desktop-pagination-year {
  @apply font-bold text-[#1D1D1F];
}

.history-desktop-pagination-item.is-active .history-desktop-pagination-line {
  @apply h-[2px] bg-[#1D1D1F];
}

.mobilePrev,
.mobileNext {
  @apply w-11 h-11 rounded-full flex items-center justify-center transition-all duration-300;
  background: #0000000A;
}

.desktopPrev,
.desktopNext {
  @apply w-8 h-8 rounded-full flex items-center justify-center transition-all duration-300;
  background: #0000000A;
}

.mobilePrev span,
.mobileNext span, 
.desktopPrev span, 
.desktopNext span {
  color: #C7C7CC;
}

.mobilePrev:not(.swiper-button-disabled),
.mobileNext:not(.swiper-button-disabled),
.desktopPrev:not(.swiper-button-disabled),
.desktopNext:not(.swiper-button-disabled) {
  background: #1D1D1F;
}

.mobilePrev:not(.swiper-button-disabled) span,
.mobileNext:not(.swiper-button-disabled) span,
.desktopPrev:not(.swiper-button-disabled) span,
.desktopNext:not(.swiper-button-disabled) span {
  color: white;
}

.mobilePrev.swiper-button-disabled,
.mobileNext.swiper-button-disabled,
.desktopPrev.swiper-button-disabled,
.desktopNext.swiper-button-disabled {
  cursor: default;
  pointer-events: none;
}

.dayPagination.swiper-pagination-bullets,
.historyMobilePagination.swiper-pagination-bullets {
  bottom: 0px;
}

.custom-shadow {
  box-shadow: 0px 1px 2px -1px #0000001A;
  box-shadow: 0px 1px 3px 0px #0000001A;
}

.custom-shadow-2 {
  box-shadow: 0px 4px 6px -4px #0000001A;
  box-shadow: 0px 10px 15px -3px #0000001A;
}