@import "tailwindcss";

.ui-tabs-active {
    @apply bg-[#05C0F4] text-white
}

@media (min-width: 1024px) {
    .swiper-slide:not(.swiper-slide-active) {
      transform: scale(0.85);
      opacity: 0.8;
      z-index: 0;
      transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .swiper-slide.swiper-slide-active {
      transform: scale(1);
      opacity: 1;
      z-index: 10;
      transition: transform 0.4s ease, opacity 0.4s ease;
    }
}