/* ═══════════════════════════════════════════════════════════════
   MERCHANT LOGOS
   ═══════════════════════════════════════════════════════════════ */

.eqvi-logo {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6E7681;

    transition:
        color .25s ease,
        opacity .25s ease;
}


/* Сам SVG */
.eqvi-logo img {
    display: block;
    width: auto;
    object-fit: contain;

    /*
     * Все логотипы приводим к единому
     * спокойному монохромному виду.
     */
    filter: grayscale(1);

    transition:
        filter .25s ease,
        opacity .25s ease,
        transform .25s ease;
}


/* При наведении возвращаем цвет оригинального SVG */
.eqvi-logo:hover img {
    filter: grayscale(0);
    opacity: 1;
}